# Introduction

Do higher film budgets lead to more box office revenue? Let's find out if there's a relationship using the movie budgets and financial performance data that I've scraped from [the-numbers.com](https://www.the-numbers.com/movie/budgets) on **May 1st, 2018**. 

<img src=https://i.imgur.com/kq7hrEh.png>

# Import Statements

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Notebook Presentation

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Read the Data

In [3]:
data = pd.read_csv('data/cost_revenue_dirty.csv')

# Explore and Clean the Data

**Challenge**: Answer these questions about the dataset:
1. How many rows and columns does the dataset contain?
2. Are there any NaN values present?
3. Are there any duplicate rows?
4. What are the data types of the columns?

In [16]:
print(data.shape)
print(data.head())
print(data.tail())

(5391, 6)
   Rank Release_Date                     Movie_Title USD_Production_Budget  \
0  5293     8/2/1915           The Birth of a Nation              $110,000
1  5140     5/9/1916                     Intolerance              $385,907
2  5230   12/24/1916    20,000 Leagues Under the Sea              $200,000
3  5299    9/17/1920  Over the Hill to the Poorhouse              $100,000
4  5222     1/1/1925                  The Big Parade              $245,000

  USD_Worldwide_Gross USD_Domestic_Gross
0         $11,000,000        $10,000,000
1                  $0                 $0
2          $8,000,000         $8,000,000
3          $3,000,000         $3,000,000
4         $22,000,000        $11,000,000
      Rank Release_Date                     Movie_Title USD_Production_Budget  \
5386  2950    10/8/2018                             Meg           $15,000,000
5387   126   12/18/2018                         Aquaman          $160,000,000
5388    96   12/31/2020                     Singularity          $175,000,000
5389  1119   12/31/2020          Hannibal the Conqueror           $50,000,000
5390  2517   12/31/2020  Story of Bonnie and Clyde, The           $20,000,000

     USD_Worldwide_Gross USD_Domestic_Gross
5386                  $0                 $0
5387                  $0                 $0
5388                  $0                 $0
5389                  $0                 $0
5390                  $0                 $0

In [17]:
print(f'NaN values present? {data.isna().values.any()}')
print(f'Duplicated values present? {data.duplicated().values.any()}')

duplicated_rows = data[data.duplicated()]
print(f'Number of duplicated rows? {len(duplicated_rows)}')

NaN values present? False
Duplicated values present? False
Number of duplicated rows? 0

In [18]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5391 entries, 0 to 5390
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   5391 non-null   int64
 1   Release_Date           5391 non-null   object
 2   Movie_Title            5391 non-null   object
 3   USD_Production_Budget  5391 non-null   object
 4   USD_Worldwide_Gross    5391 non-null   object
 5   USD_Domestic_Gross     5391 non-null   object
dtypes: int64(1), object(5)
memory usage: 252.8+ KB
None

### Data Type Conversions

**Challenge**: Convert the `USD_Production_Budget`, `USD_Worldwide_Gross`, and `USD_Domestic_Gross` columns to a numeric format by removing `$` signs and `,`. 
<br>
<br>
Note that *domestic* in this context refers to the United States.

In [19]:
chars_to_remove = [',', '$']
columns_to_clean = ['USD_Production_Budget', 
                    'USD_Worldwide_Gross',
                    'USD_Domestic_Gross']

for col in columns_to_clean:
    for char in chars_to_remove:
        # Replace each character with an empty string
        data[col] = data[col].astype(str).str.replace(char, "")
    # Convert column to a numeric data type
    data[col] = pd.to_numeric(data[col])

/var/folders/lc/v1y49vhs6kn7_kcwhy4rx0pm0000gp/T/ipykernel_10365/1970920549.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data[col] = data[col].astype(str).str.replace(char, "")

**Challenge**: Convert the `Release_Date` column to a Pandas Datetime type.

In [20]:
data.Release_Date = pd.to_datetime(data.Release_Date)
print(data.head())

   Rank Release_Date                     Movie_Title  USD_Production_Budget  \
0  5293   1915-08-02           The Birth of a Nation                 110000
1  5140   1916-05-09                     Intolerance                 385907
2  5230   1916-12-24    20,000 Leagues Under the Sea                 200000
3  5299   1920-09-17  Over the Hill to the Poorhouse                 100000
4  5222   1925-01-01                  The Big Parade                 245000

   USD_Worldwide_Gross  USD_Domestic_Gross
0             11000000            10000000
1                    0                   0
2              8000000             8000000
3              3000000             3000000
4             22000000            11000000

In [21]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5391 entries, 0 to 5390
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   5391 non-null   int64
 1   Release_Date           5391 non-null   datetime64[ns]
 2   Movie_Title            5391 non-null   object
 3   USD_Production_Budget  5391 non-null   int64
 4   USD_Worldwide_Gross    5391 non-null   int64
 5   USD_Domestic_Gross     5391 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 252.8+ KB
None

### Descriptive Statistics

**Challenge**: 

1. What is the average production budget of the films in the data set?
2. What is the average worldwide gross revenue of films?
3. What were the minimums for worldwide and domestic revenue?
4. Are the bottom 25% of films actually profitable or do they lose money?
5. What are the highest production budget and highest worldwide gross revenue of any film?
6. How much revenue did the lowest and highest budget films make?

In [22]:
print(data.describe())

          Rank  USD_Production_Budget  USD_Worldwide_Gross  USD_Domestic_Gross
count 5,391.00               5,391.00             5,391.00            5,391.00
mean  2,696.00          31,113,737.58        88,855,421.96       41,235,519.44
std   1,556.39          40,523,796.88       168,457,757.00       66,029,346.27
min       1.00               1,100.00                 0.00                0.00
25%   1,348.50           5,000,000.00         3,865,206.00        1,330,901.50
50%   2,696.00          17,000,000.00        27,450,453.00       17,192,205.00
75%   4,043.50          40,000,000.00        96,454,455.00       52,343,687.00
max   5,391.00         425,000,000.00     2,783,918,982.00      936,662,225.00

In [23]:
print(data[data.USD_Production_Budget == 1100.00])

      Rank Release_Date        Movie_Title  USD_Production_Budget  \
2427  5391   2005-05-08  My Date With Drew                   1100

      USD_Worldwide_Gross  USD_Domestic_Gross
2427               181041              181041

In [24]:
print(data[data.USD_Production_Budget == 425000000.00])

      Rank Release_Date Movie_Title  USD_Production_Budget  \
3529     1   2009-12-18      Avatar              425000000

      USD_Worldwide_Gross  USD_Domestic_Gross
3529           2783918982           760507625

# Investigating the Zero Revenue Films

**Challenge** How many films grossed $0 domestically (i.e., in the United States)? What were the highest budget films that grossed nothing?

In [28]:
zero_domestic = data[data.USD_Domestic_Gross == 0]
print(f'Number of films that grossed $0 domestically {len(zero_domestic)}')
print(zero_domestic.sort_values('USD_Production_Budget', ascending=False))

Number of films that grossed $0 domestically 512
      Rank Release_Date                         Movie_Title  \
5388    96   2020-12-31                         Singularity
5387   126   2018-12-18                             Aquaman
5384   321   2018-09-03                   A Wrinkle in Time
5385   366   2018-10-08                      Amusement Park
5090   556   2015-12-31  Don Gato, el inicio de la pandilla
...    ...          ...                                 ...
4787  5371   2014-12-31                Stories of Our Lives
3056  5374   2007-12-31                         Tin Can Man
4907  5381   2015-05-19                    Family Motocross
5006  5389   2015-09-29             Signed Sealed Delivered
5007  5390   2015-09-29                A Plague So Pleasant

      USD_Production_Budget  USD_Worldwide_Gross  USD_Domestic_Gross
5388              175000000                    0                   0
5387              160000000                    0                   0
5384              103000000                    0                   0
5385              100000000                    0                   0
5090               80000000              4547660                   0
...                     ...                  ...                 ...
4787                  15000                    0                   0
3056                  12000                    0                   0
4907                  10000                    0                   0
5006                   5000                    0                   0
5007                   1400                    0                   0

[512 rows x 6 columns]

**Challenge**: How many films grossed $0 worldwide? What are the highest budget films that had no revenue internationally?

In [31]:
zero_worldwide = data[data.USD_Worldwide_Gross == 0]
print(f'Number of films that grossed $0 worldwide {len(zero_worldwide)}')
print(zero_worldwide.sort_values('USD_Production_Budget', ascending=False))

Number of films that grossed $0 worldwide 357
      Rank Release_Date              Movie_Title  USD_Production_Budget  \
5388    96   2020-12-31              Singularity              175000000
5387   126   2018-12-18                  Aquaman              160000000
5384   321   2018-09-03        A Wrinkle in Time              103000000
5385   366   2018-10-08           Amusement Park              100000000
5058   880   2015-11-12         The Ridiculous 6               60000000
...    ...          ...                      ...                    ...
4787  5371   2014-12-31     Stories of Our Lives                  15000
3056  5374   2007-12-31              Tin Can Man                  12000
4907  5381   2015-05-19         Family Motocross                  10000
5006  5389   2015-09-29  Signed Sealed Delivered                   5000
5007  5390   2015-09-29     A Plague So Pleasant                   1400

      USD_Worldwide_Gross  USD_Domestic_Gross
5388                    0                   0
5387                    0                   0
5384                    0                   0
5385                    0                   0
5058                    0                   0
...                   ...                 ...
4787                    0                   0
3056                    0                   0
4907                    0                   0
5006                    0                   0
5007                    0                   0

[357 rows x 6 columns]

### Filtering on Multiple Conditions

**Challenge**: Use the [`.query()` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) to accomplish the same thing. Create a subset for international releases that had some worldwide gross revenue, but made zero revenue in the United States. 

Hint: This time you'll have to use the `and` keyword.

### Unreleased Films

**Challenge**:
* Identify which films were not released yet as of the time of data collection (May 1st, 2018).
* How many films are included in the dataset that have not yet had a chance to be screened in the box office? 
* Create another DataFrame called data_clean that does not include these films.

In [4]:
# Date of Data Collection
scrape_date = pd.Timestamp('2018-5-1')

### Films that Lost Money

**Challenge**: 
What is the percentage of films where the production costs exceeded the worldwide gross revenue?

# Seaborn for Data Viz: Bubble Charts

### Plotting Movie Releases over Time

**Challenge**: Try to create the following Bubble Chart:

<img src=https://i.imgur.com/8fUn9T6.png>

# Converting Years to Decades Trick

**Challenge**: Create a column in `data_clean` that has the decade of the release. 

<img src=https://i.imgur.com/0VEfagw.png width=650> 

Here's how: 
1. Create a [`DatetimeIndex` object](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html) from the Release_Date column. 
2. Grab all the years from the `DatetimeIndex` object using the `.year` property.
<img src=https://i.imgur.com/5m06Ach.png width=650>
3. Use floor division `//` to convert the year data to the decades of the films.
4. Add the decades as a `Decade` column to the `data_clean` DataFrame.

### Separate the "old" (before 1969) and "New" (1970s onwards) Films

**Challenge**: Create two new DataFrames: `old_films` and `new_films`
* `old_films` should include all the films before 1969 (up to and including 1969)
* `new_films` should include all the films from 1970 onwards
* How many films were released prior to 1970?
* What was the most expensive film made prior to 1970?

# Seaborn Regression Plots

**Challenge**: Use Seaborn's `.regplot()` to show the scatter plot and linear regression line against the `new_films`. 
<br>
<br>
Style the chart

* Put the chart on a `'darkgrid'`.
* Set limits on the axes so that they don't show negative values.
* Label the axes on the plot "Revenue in \$ billions" and "Budget in \$ millions".
* Provide HEX colour codes for the plot and the regression line. Make the dots dark blue (#2f4b7c) and the line orange (#ff7c43).

Interpret the chart

* Do our data points for the new films align better or worse with the linear regression than for our older films?
* Roughly how much would a film with a budget of $150 million make according to the regression line?

# Run Your Own Regression with scikit-learn

$$ REV \hat ENUE = \theta _0 + \theta _1 BUDGET$$

**Challenge**: Run a linear regression for the `old_films`. Calculate the intercept, slope and r-squared. How much of the variance in movie revenue does the linear model explain in this case?

# Use Your Model to Make a Prediction

We just estimated the slope and intercept! Remember that our Linear Model has the following form:

$$ REV \hat ENUE = \theta _0 + \theta _1 BUDGET$$

**Challenge**:  How much global revenue does our model estimate for a film with a budget of $350 million?