## Get the Data

Either use the provided .csv file or (optionally) get fresh (the freshest?) data from running an SQL query on StackExchange: 

Follow this link to run the query from [StackExchange](https://data.stackexchange.com/stackoverflow/query/675441/popular-programming-languages-per-over-time-eversql-com) to get your own .csv file

<code>
select dateadd(month, datediff(month, 0, q.CreationDate), 0) m, TagName, count(*)
from PostTags pt
join Posts q on q.Id=pt.PostId
join Tags t on t.Id=pt.TagId
where TagName in ('java','c','c++','python','c#','javascript','assembly','php','perl','ruby','visual basic','swift','r','object-c','scratch','go','swift','delphi','rust','dart','kotlin')
and q.CreationDate < dateadd(month, datediff(month, 0, getdate()), 0)
group by dateadd(month, datediff(month, 0, q.CreationDate), 0), TagName
order by dateadd(month, datediff(month, 0, q.CreationDate), 0)
</code>

## Import Statements

In [1]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format

## Data Exploration

**Challenge**: Read the .csv file and store it in a Pandas dataframe

In [7]:
df = pd.read_csv('QueryResults.csv', header=0, names=['DATE', 'TAG', 'POSTS'])

**Challenge**: Examine the first 5 rows and the last 5 rows of the of the dataframe

In [14]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    163
3  2008-08-01 00:00:00           c     84
4  2008-08-01 00:00:00      python    124

In [15]:
df.tail()

                     DATE    TAG  POSTS
2632  2021-08-01 00:00:00    php   5163
2633  2021-08-01 00:00:00  swift   2306
2634  2021-08-01 00:00:00      r   4712
2635  2021-08-01 00:00:00   ruby    520
2636  2021-08-01 00:00:00   rust    505

**Challenge:** Check how many rows and how many columns there are. 
What are the dimensions of the dataframe?

In [13]:
df.shape

(2637, 3)

**Challenge**: Count the number of entries in each column of the dataframe

In [12]:
df.count()

DATE     2637
TAG      2637
POSTS    2637
dtype: int64

**Challenge**: Calculate the total number of post per language.
Which Programming language has had the highest total number of posts of all time?

In [28]:
df.groupby('TAG').sum().sort_values('POSTS', ascending=False)

              POSTS
TAG
javascript  2261130
java        1794183
python      1783053
c#          1494188
php         1411738
c++          735092
r            416455
c            363590
swift        301108
ruby         220676
perl          65842
kotlin        61722
dart          56134
go            55735
delphi        48452
assembly      38417
rust          23727
julia          9220

Some languages are older (e.g., C) and other languages are newer (e.g., Swift). The dataset starts in September 2008.

**Challenge**: How many months of data exist per language? Which language had the fewest months with an entry?

In [27]:
df.groupby('TAG').count().sort_values('POSTS', ascending=False)

            DATE  POSTS
TAG
c#           158    158
assembly     157    157
php          157    157
c++          157    157
ruby         157    157
delphi       157    157
java         157    157
javascript   157    157
c            157    157
python       157    157
perl         157    157
r            155    155
swift        149    149
go           142    142
kotlin       121    121
dart         120    120
rust         112    112
julia        110    110

## Data Cleaning

Let's fix the date format to make it more readable. We need to use Pandas to change format from a string of "2008-07-01 00:00:00" to a datetime object with the format of "2008-07-01"

In [30]:
df['DATE'][1]

'2008-08-01 00:00:00'

In [31]:
df.DATE[1]

'2008-08-01 00:00:00'

In [32]:
type(df['DATE'][1])

str

In [33]:
print(pd.to_datetime(df.DATE[1]))
type(pd.to_datetime(df.DATE[1]))

2008-08-01 00:00:00

pandas._libs.tslibs.timestamps.Timestamp

In [34]:
df.DATE = pd.to_datetime(df.DATE)
df.head()

        DATE         TAG  POSTS
0 2008-07-01          c#      3
1 2008-08-01    assembly      8
2 2008-08-01  javascript    163
3 2008-08-01           c     84
4 2008-08-01      python    124

## Data Manipulation

**Challenge**: What are the dimensions of our new dataframe? How many rows and columns does it have? Print out the column names and print out the first 5 rows of the dataframe.

**Challenge**: Count the number of entries per programming language. Why might the number of entries be different?

## Data Visualisaton with with Matplotlib

**Challenge**: Use the [matplotlib documentation](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.plot.html#matplotlib.pyplot.plot) to plot a single programming language (e.g., java) on a chart.

**Challenge**: Show two line (e.g. for Java and Python) on the same chart.

# Smoothing out Time Series Data

Time series data can be quite noisy, with a lot of up and down spikes. To better see a trend we can plot an average of, say 6 or 12 observations. This is called the rolling mean. We calculate the average in a window of time and move it forward by one overservation. Pandas has two handy methods already built in to work this out: [rolling()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html) and [mean()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.window.rolling.Rolling.mean.html).